{% extends 'base.html.twig' %}

{% block title %}Home / Twitter{% endblock %}

{% block body %}
    <div id="content">
        <div id="homeDiv" class='sticky'><span id="contentHome" class='font20bold'>Home</span></div>
        <div id='whatsHappening'>
            <div id='whatsHapIcon'><i class="far fa-user-circle"></i></div>
            <div id='tweetEditor'>
                <form action="{{ path('create_tweet') }}" method="post">
                    <span class="textarea" role="textbox" contenteditable>
                        <label>
                            <textarea class="textarea" id="textarea_whats_happening" name="whats_happening" placeholder="What's happening"></textarea>
                        </label>
                    </span>
                    <div id='tweetIcons'>
                        <div id='tweetIconsLeft'>
                            <i class="far fa-image hoverDarkBackground"></i>
                            <i class="fab fa-git-square hoverDarkBackground"></i>
                            <i class="far fa-chart-bar hoverDarkBackground"></i>
                            <i class="far fa-smile hoverDarkBackground"></i>
                        </div>
                        <div id='tweetIconsRight'>
                            <i class="fas fa-plus hoverDarkBackground"></i>
                            <button type="submit" id='publishTweet' class='font20bold'>Tweet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for post in posts %}
        <div class='individualTweet '>
            <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
            <div class='individualContent'>
                <div class='names'>
                    <div class='individualName'> {{ post.userId.values[0].name }}</div>
                    <div class="individualUsername">@ {{ post.userId.values | first }}</div>
                    <div class='dot'></div>
                    <div class="time"></div>
                </div>
                <div class="individualText">
                    {{ post.body }}
                </div>
                <div class='individualIcons'>
                    <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                class='individualNumber' id='comments'></span></div>
                    <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                class='individualNumber' id='retweets'></span></div>
                    <div class='individualInfo iconLike' data-is-authenticated="{{ user }}" data-is-post="{{ post }}" ><i class="far fa-heart" ></i></i><span
                                class='individualNumber' ></span></div>
                    <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
