{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(userForm) }}
                    <button type="submit">Enregistrer</button>
                    {{ form_end(userForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="example-wrapper">
    {{ user.firstname }} {{ user.name }}
{#    {{ nb tweet }}#}
    {{ user.firstname }} {{ user.name }}
    {{ user.username }}
    {{ user.birthdate }} {# {{ user.createAt }}#}
{#    {{ follow }}#}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Editer le profil
    </button>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Documents/Campus-U/MIW/Symfony/clone_twitter/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Documents/Campus-U/MIW/Symfony/clone_twitter/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>

    <script>
        $("#form").on("submit", function(e){
            $.ajax({
                url: '{{ path('dashboard') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "task": form
            },
                success: function (return_data) {
                    console.log(return_data);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            })});

    </script>


{% endblock %}