{% extends 'base.html.twig' %}

{% block title %}{{ app.user.getName() }} (@{{ app.user.getUsername() }}) / Twitter{% endblock %}



{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        /* Modal Content */
        .modal-content {
            background-color: #5d5d5d!important;
        }
    </style>
    <div id="content">
        <div id="homeDiv" class='sticky'><span id="contentHome" class='font20bold'>{{  app.user.getName()}}</span></div>
        {#    {% for total_post in total_posts %}#}
        {#        {{ dump(total_post) }}#}
        {#    {% endfor %}#}
        {% if follow is not null %}
                <div>
                    <button type="submit" class="btn-follow">
            {% if follow.hasFollow is same as(true) %}
             Unfollowing
                {% else %}
                    Follow
                    {% endif %}
                </button>
                </div>
            {%  endif %}
        <div id='whatsHappening'>
            <div id='whatsHapIcon'><i class="far fa-user-circle"></i></div><br><br>
            <div id='tweetEditor'>
                {% if user is not null %}
                    <p class="textarea" role="textbox">
                    <p>{{ user.name }} {{ user.firstname }}</p>
                    <p id="follower" data-username="{{ user.username }}">Bio: {{ user.username }}</p>
                    <p>{{ user.bio }}</p>
                    <div id='tweetIcons'>
                        <div id='tweetIconsLeft'>
                            <p>Naissance le {{ user.birthdate|date("d/m/Y")  }}</p>
                            <p>nb abonnements  nb abonnés</p>
                        </div>
                        <div id='tweetIconsRight'>
                            <button type="button" id='publishTweet' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Éditer le profil</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% for post in posts %}
            {% if post.userId.values[0].id is same as app.user.id %}
                <div class='individualTweet'>
                    <div class='tweetUserIcon'><i class="far fa-user-circle"></i></div>
                    <div class='individualContent'>
                        <div class='names'>
                            <div class='individualName'> {{ post.userId.values[0].name }}</div>
                            <div class="individualUsername">@ {{ post.userId.values | first }}</div>
                            <div class='dot'></div>
                            <div class="time"></div>
                        </div>
                        <div class="individualText">
                            {{ post.body }}
                        </div>
                        <div class='individualIcons'>
                            <div class='individualInfo iconComment'><i class="far fa-comment"></i><span
                                        class='individualNumber' id='comments'></span></div>
                            <div class='individualInfo iconRetweet'><i class="fas fa-retweet"></i><span
                                        class='individualNumber' id='retweets'></span></div>
                            <div class='individualInfo iconLike'><i class="far fa-heart"></i></i><span
                                        class='individualNumber' id='likes'></span></div>
                            <div class='individualInfo iconShare'><i class="far fa-share-square"></i></div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}


        <!-- Modal -->
        <div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialoeg">
                <div class="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Éditer le profil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="myForm" action="{{ path('update_profile') }}" method="POST">
                        {% if user is not null %}

                            <div class="modal-body">
                                <div class="form-group">
                                    <span type="text" class="form-control" name="username" placeholder="" readonly="readonly">Username : {{ user.name }}</span>
                                </div>
                                <div class="form-group">
                                    <span type="email" class="form-control" name="email" readonly="readonly">Email : {{ user.email }}</span>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="bio" placeholder="Bio" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="location" placeholder="Location">
                                </div>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="birthday" placeholder="Birthdate">
                                </div>
                            </div>
                        {% endif %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="edit_profile" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
